PORT=3001
CLIENT_ORIGIN=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=AristoMarket
DB_USERNAME=market_user
DB_PASSWORD=market123

# Tambien puedes usar DATABASE_URL:
# DATABASE_URL=postgres://market_user:market123@127.0.0.1:5432/AristoMarket
